<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Example</title>

</head>

<body>

<ul>
    <th:block th:each=" name : ${names}">
        <li th:text="${name}"> </li>
    </th:block>
</ul>
</body>

</html>